---
layout: bootstrap
---

{% include about.html %}
{% include skills.html %}
{% include experience.html %}
{% include portfolio.html %}
{% include education.html %}
{% include contact.html %}

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="//cdn.jsdelivr.net/jquery.scrollto/2.1.2/jquery.scrollTo.min.js"></script>
<script src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
<script src="{{ "/js/application.js" | prepend: site.baseurl }}"></script>
<!-- <script src="{{ "/js/contact.js" | prepend: site.baseurl }}"></script> -->
