<section id="about" class="custom background dark image quarter-opacity"
  style="background-image:url('images/bg_desk.jpg')">
  <div class="wrapper">
    <div class="clearfix content one-col">
      <div class="col">
        <h2 style="text-align:center;">About me</h2>
        <div class="clearfix custom-content inherit">
          <p>
            As a Ruby full stack developer with five years of expertise, I am
            able to write clean Ruby On Rails applications from scratch to
            deploy. This is my passion and I’m completely committed to fulfill
            all needs to achieve client satisfaction no matter what. When I’m
            not writing code alone or with an awesome distributed team, I enjoy
            walking my dog Dasha, hit the gym, spend time with my family and
            hang out with friends. I am here to help you code the next big
            thing!
            <br/><br/>
            P.S. BTW I’m a human and I also have a sense of humor, let’s talk ;)
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
