<section id="about" class="custom background dark image quarter-opacity"
  style="background-image:url('images/bg_desk.jpg')">
  <div class="wrapper">
    <div class="clearfix content one-col">
      <div class="col">
        <h2 style="text-align:center;">About me</h2>
        <div class="clearfix custom-content inherit">
          <p>
            I'm a Ruby developer with five years on the field with the ability
            to write applications from scratch to deploy. This is my passion and
            client satisfaction is on top of the list.
            When I’m not writing code (either alone or with an awesome
            distributed team), I enjoy walking my dog Dasha, go to the gym,
            spend time with my family and hang out with friends.
            <br/><br/>
            I am here to help you code the next big thing!
            <br/><br/>
            P.S. BTW I’m also a human, let’s talk ;)
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
