<section id="contact" class="contact background dark image quarter-opacity"
  style="background-image:url('images/bg_beach.jpg')">
  <div class="wrapper">
    <div class="clearfix content">
      <div class="clearfix description">
        <h2>Contact</h2>
        <p>
          Get in touch with me if you would like to do business together, share
          an idea or just say hello.
        </p>
      </div>
      <div class="info">
        <div class="location">
          <h4>Mérida Area, Mexico</h4>
        </div>
        <div class="phone">
          <h4>+52 1 (999) 335 5636</h4>
        </div>
        <div class="email">
          <h4>Use contact form below</h4>
        </div>
      </div>

      <form id="contact-form">
        <input type="text" name="_gotcha" style="display:none" />
        <input autocomplete="off" id="contact-fullname" name="email"
          placeholder="Email" type="text">
        <input id="contact-name" name="name" placeholder="Your name"
          required="" type="text">
        <input id="contact-email" name="email" placeholder="Your email address"
          required="" type="email">
        <textarea id="contact-message" name="message" placeholder="Message" required="">
        </textarea>
        <div class="success" id="contact-success" style="display: none;">
          <img alt="Success" src="/images/icon_success.png">
          Thank you, your message has been successfully sent!
          <img alt="Close" class="close" src="/images/icon_close.png">
        </div>
        <div class="error" id="contact-error" style="display: none;">
          <img alt="Error" src="/images/icon_error.png">
          Error sending message, please try again!
          <img alt="Close" class="close" src="/images/icon_close.png">
        </div>
        <input class="button" type="submit" value="Send">
      </form>
      <div class="social">
        <a class="facebook" href="https://www.facebook.com/profile.php?id=684178272" target="_blank"></a>
        <a class="twitter" href="http://twitter.com/@josedulanto" target="_blank"></a>
        <a class="linkedin" href="https://www.linkedin.com/in/josedulanto" target="_blank"></a>
        <a class="github" href="https://github.com/josedulanto" target="_blank"></a>
      </div>
    </div>
  </div>
</section>
