<section class="intro background color dark image quarter-opacity"
  style="background-image:url('images/bg_violet.png')">
  <div class="wrapper">
    <div class="content image-left image-large">
      <img src="/images/josedulanto.jpg">
      <h1>José Dulanto</h1>
      <span>Ruby Developer</span>
    </div>
    <nav>
      <a href="#about" class=""><h4>About me</h4></a>
      <a href="#skills" class=""><h4>Skills</h4></a>
      <a href="#experience" class=""><h4>Experience</h4></a>
      <a href="#portfolio" class=""><h4>Portfolio</h4></a>
      <a href="#education" class=""><h4>Education</h4></a>
      <a href="#contact"><h4>Contact</h4></a>
    </nav>
  </div>
</section>
