<section id="portfolio" class="portfolio dark image quarter-opacity">
  <div class="wrapper">
    <div class="clearfix description">
      <h2>Projects</h2>
      <p>
        Take a look at a few of my favorite projects I’ve started or been a part
        of during the course of my career.
      </p>
    </div>
    <div class="clearfix content">
      {% for project in site.data.projects %}
        <div class="project">
          <img src="{{ project.logo }}">
          <div class="info">
            <h3>{{ project.name }}</h3>
            <span>{{ project.description }}</span>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
