<section id="skills" class="list dark image quarter-opacity ">
  <div class="wrapper">
    <div class="clearfix description">
      <h2>Skills</h2>
      <p>
        A concise list of some of the most valuable professional skills I
        possess. My tricks of the trade and what I can bring to the table.
      </p>
    </div>
    <div class="clearfix content">
      {% for skill in site.data.skills %}
        <div class="item"><h4>{{ skill }}</h4></div>
      {% endfor %}
    </div>
  </div>
</section>
